pre.prettyprint {
   margin: 0;
   background-color: white;
}
pre.prettyprint li {
   background-color: white;
   padding-left: 1em;
}
pre.prettyprint li:first-child {
   padding-top:0.3em;
}
pre.prettyprint li:last-child {
   padding-bottom: 0.6em;
}

pre.prettyprint ol.linenums {
   background-color: #EFEFEF;
   color: #666;
   padding-left: 38px;
}
.kwd {
   color: #E1CA00;
}
.str {
   color: #CB0000;
}
.pun, .opn, .clo {
   color: #009A2C;
}
.com {
   color: #004B88;
}
body {
    background-color: #000; /* same as #top */
}
